<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" data-key="t-menu">Overview</li>

        <li>
          <a href="/clinics/dashboard">
            <i data-feather="home"></i>
            <span data-key="t-dashboard">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="/clinics/patients">
            <i data-feather="layout"></i>
            <span data-key="t-horizontal">Patients</span>
          </a>
        </li>

        <li>
          <a href="/clinics/visits">
            <i data-feather="layout"></i>
            <span data-key="t-horizontal">Visits </span>
          </a>
        </li>
        <li>
          <a href="/clinics/appointments">
            <i data-feather="layout"></i>
            <span data-key="t-horizontal">Appointments</span>
          </a>
        </li>

        <li class="menu-title mt-2" data-key="t-components">Administration</li>
        <li>
          <a href="/clinics/branches">
            <i data-feather="layout"></i>
            <span data-key="t-horizontal">Branches</span>
          </a>
        </li>
        <li>
          <a href="/clinics/branches">
            <i data-feather="layout"></i>
            <span data-key="t-horizontal">Payments</span>
          </a>
        </li>
        <li>
          <a href="/clinics/branches">
            <i data-feather="layout"></i>
            <span data-key="t-horizontal">Statistics</span>
          </a>
        </li>

        <li class="menu-title mt-2" data-key="t-components">Help & Settings</li>
        <li>
          <a href="/clinics/help-center">
            <i data-feather="layout"></i>
            <span data-key="t-horizontal">Help Center</span>
          </a>
        </li>
        <li>
          <a href="/clinics/settings">
            <i data-feather="layout"></i>
            <span data-key="t-horizontal">Settings</span>
          </a>
        </li>
        <li>
          <a href="/clinics/report">
            <i data-feather="layout"></i>
            <span data-key="t-horizontal">Report</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
